streamlit
pandas
numpy
fuzzywuzzy
faiss-cpu
sentence-transformers
# Dependencies for the AI model
# We remove specific versions to prevent conflicts on the cloud
torch
transformers
accelerate
datasets
fastapi
uvicorn
python-multipart
requests
